body {
    margin: 0px;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

/***********************HEADER SECTION***********************/

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.headerItems {
    padding: 10px;

}

.navLinks {
    margin-right: 30px;
    font-size: 18px;
    color: #E5E7EB;

}

.navLinks a:hover {
    background-color: #ffffff;
    color: blue;
}

.logo {
    width: 50px;
    margin-left: 100px;
    border-style: dotted;
    border-radius: 20px 1px 14px 2px;
    border: #E5E7EB;
}


/*--------------------UPPER SECTION--------------------*/

h1 {
    font-size: 48px extra-bold;
    color: #F9FAF8;
}

.upperSection {
    color: #F9FAF8;
}

.upperContainer {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.upperItems {
    flex: 5;
    margin-bottom: 50px;
}

#mainParagraph {
    color: #F9FAF8;
    width: 80%;
    margin-bottom: 30px;
}

.signUp {
    background-color: #3882F6;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    border: 0px;
}

.bigSquare {
    height: 250px;
    width: 500px;
    background-color: transparent;
    border: solid rgb(255, 255, 255);
    border-radius: 10px;
}



/***********************MIDDLE SECTION***********************/


.middleSection {
    padding-top: 30px;
    background-color: white;
    font-size: 18px;
    color: #1F2937;
}

#randomInfo {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.middleContainer {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding: 16px;
    align-items: center;
    justify-content: space-evenly;
}

.middleItems {
    gap: 40px;
    margin-bottom: 50px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: white;
    border: solid rgb(58, 134, 247);
    border-radius: 10px;
}

.secondaryText {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    width: 150px;
}

/************************LOWER SECTION***************************/


.quoteSection {
    width: 800px;
    text-align: right;
    font-weight: italic;
    background-color: #E5E7EB;
    border-radius: 10px;
    padding: 30px;
    margin-top: 5%;
    margin-left: 20%;
    align-items: center;
}

#inspiringQuote {
    text-align: left;
    font-size: 36px light italic #1F2937;
}

.contactSection {
    background-color: #3882F6;
    border-radius: 20px;
    padding: 50px 200px 50px 200px;
    align-items: center;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;

}

.signUpContact {
    background-color: #3882F6;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    border: 0px;
    border: 2px solid #f9faf8;
}



footer {
    background-color: #f9faf8;
    text-align: center;
    margin-top: 80px;
    padding: 10px;
}